<body>
  <div class="container">
    <div class="navbar">
      <div class="banner">
        <h2>
          <span style="--i: 1">C</span>
          <span style="--i: 2">L</span>
          <span style="--i: 3">E</span>
          <span style="--i: 4">A</span>
          <span style="--i: 5">N</span>
          <span style="--i: 6">T</span>
          <span style="--i: 7">E</span>
          <span style="--i: 8">C</span>
          <span style="--i: 9">H</span>
        </h2>
        <img src="assets/image/spider.png" class="spider" alt="spider" />
        <img src="assets/image/skull.webp" class="skull" alt="skull" />
      </div>
    </div>
    <div class="header">
      Our team has crafted impactful, full-service work that finds<br />your
      audience where they already are.
    </div>
    <div class="marquee">
      <span>
        Creative. Technology. Media. Creative. Technology. Media. Creative.
        Technology. Media. Creative. Technology. Media. Creative. Technology.
        Media.
      </span>
    </div>
    <section>
      <img
        src="assets/image/cleanUp.png"
        data-speed="-10"
        class="layer img-1"
        alt=""
      />
    </section>
  </div>
  <script src="assets/script/script.js"></script>
</body>
