.header{
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
}

mat-card {
    max-width: 80%;
    margin: 2em auto;
    text-align: center;
  }

  .full-width{
    width: 100%;
  }

  .min-width {
    width: 100%;
    min-width: 150px;
  }

  .btn-space {
    margin-left: 5px;
  }

  .actions-center {
    justify-content: center;
  }
