.header{
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  
}

mat-card{
  max-width: 100%;
  margin: 2em auto;
  text-align: center;
}

.column-flex{
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.loading-sppiner{
  padding: 25px;
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
