.header {
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2678d1;
}

.header .logo {
  max-height: 50px;
}

.header .title-group {
  padding-left: 30%;
  font-size: 26px;
  color: rgb(112, 84, 46);
}

.header .title-group i {
  padding-right: 5px;
  color: #8BC228;
  font-size: 30px;
}
